// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––



// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:700|Roboto+Slab:300');

// Font Variables
$roboto-slab: 'Roboto Slab', serif;   
$poppins: 'Poppins', sans-serif;



body{
  font-size: 1.6rem; 
  line-height: 1.375;
  color: $blue-grey-500;
} 

h1,h2,h3,h4,h5,h6{
  font-family: $poppins;
  font-weight: 700;
}

h1 { 
  font-size: 4.8rem; 
  line-height: 1.05;  
  
  @media($mq-smaller-than-md){
    font-size: 3.2rem; 
    line-height: 1.25; 
  }
}

h2 { 
  font-size: 3.6rem; 
  line-height: 1.25;  
  
  @media($mq-smaller-than-md){
    font-size: 2.6rem; 
    line-height: 1.15; 
  }
}

h3 { 
  font-size: 2.8rem; 
  line-height: 1.25;  
  
  @media($mq-smaller-than-md){
    font-size: 2.2rem; 
    line-height: 1.15; 
  }
}

h4 { 
  font-size: 1.8rem; 
  line-height: 1.25;  
}

h5 { 
  font-size: 1.8rem; 
  line-height: 1.25;  
}

blockquote{
  font-family: $roboto-slab;
  font-size: 2.4rem; 
  line-height: 1.25;  
}
 

em{

}
 

p {
  font-size: 1.6rem;
  line-height: 1.375;
  margin-top: 0;
  margin-bottom: 1.6rem;
  font-family: $roboto-slab;
}

ul {
  font-size: 1.6rem;
  line-height: 1.375;
  margin-top: 0;
  margin-bottom: 1.8rem;
  font-family: $roboto-slab;
  list-style-type: disc;
}

a{
 
   transition: opacity 0.2s ease-in-out;
   &:hover{
      text-decoration: none;
   }
}

a:hover{
   color: $orange-500;
}
